<h1 style="text-align: center">Create Pet!</h1>
<mat-dialog-content class="mat-typography">
<form [formGroup]="petsForm" (ngSubmit)="create()">
 <p>
   <a>Name Pets : </a>
   <input type="text" formControlName="name" required>
 </p>
  <p>
   <a>Price Pets : </a>
   <input type="number" formControlName="price" required>
 </p>
  <p>
    <a>Avatar : </a><br/>
    <input type="file" id="avatar" #fileUploader (change)="showPreview($event)">
    <img [src]="imgSrc" (click)="fileUploader.click()"/>
  </p>
  <p>
    <a>Species</a><br/>
    <select formControlName="speci">
      <option *ngFor="let specie of species" [value]="specie.id">{{specie.name}}</option>
    </select>
  </p>
  <p>
    <a>Description Pets : </a>
    <input type="text" formControlName="description" required>
  </p>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button cdkFocusInitial >Ok</button>
  </div>
</form>
</mat-dialog-content>
