<app-navbar></app-navbar>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-6"><p>

        <img [src]="productsForm.get('avatar')?.value"/>
    </p></div>
    <div class="col-6">
      <mat-card style="text-align: center">
        <div style="color: blueviolet">
          <h1>Details Product!</h1>
          <mat-divider></mat-divider>
        </div>

        <mat-dialog-content class="mat-typography">
          <form [formGroup]="productsForm">
<!--            <p>-->
<!--              <a>Name Pets : </a>-->
<!--              <input type="text" formControlName="name" readonly/>-->
<!--            </p>-->
<!--            <p>-->
<!--              <a>Price Pets : </a>-->
<!--              <input type="number" formControlName="price" readonly>-->
<!--            </p>-->

            <p>
              <a>Category</a><br/>
              <select formControlName="spicesId">
                <option *ngFor="let specie of species" [value]="specie.id"
                        [selected]="specie.id == productsForm.get('spicesId')?.value" disabled>{{specie.name}}</option>
              </select>
            </p>
            <p>
              <a>Description Pets : </a>
              <input type="text" formControlName="description" readonly>
            </p>
            <mat-divider></mat-divider>
            <div mat-dialog-actions style="color: burlywood">
              <button mat-button>Đặt Mua</button>
              <button mat-button cdkFocusInitial>Ok</button>
            </div>
          </form>
        </mat-dialog-content>

      </mat-card>
    </div>

  </div>
</div>

