<mat-toolbar color="primary" class="mat-elevation-z6">
  <span routerLink=""><mat-icon>econ</mat-icon>Shop Pet</span>
  <div class="spacer"></div>
  <a mat-button routerLink="">
    <mat-icon>home</mat-icon>
    Home</a>
  <a mat-button (click)="open()">Create</a>
  <a mat-button>Species</a>

  <div>
    <input mat-input routerLink="" style="color: aliceblue">
    <a mat-button><mat-icon>search</mat-icon>Search</a>
  </div>

  <a mat-raised-button color="accent">
    <mat-icon>login</mat-icon>
    Sign Up</a>
</mat-toolbar>
